body{
  margin: 0;
  padding: 0;
}
h1{
  margin: 0;
  font-family: 'Sacramento', cursive;
}
h4{
  margin: 0;
  font-family: 'Uchen', serif;
}
.top-container{
  margin:auto 0;
  background-color: #B5EAEA;
  text-align: center;
  position: relative;
  padding-top: 100px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 300px;
}

}
